@{
    ViewBag.Title = "Home Page";
}


<ul class="list-group pt-5">
    <li class="list-group-item text-center">Excel Technologies Limited</li>
    <li class="list-group-item text-center list-group-item-primary">Jahangir Alam</li>
    <li class="list-group-item text-center list-group-item-secondary">Backend And Frontend designed by using, Web API, EntityFramework, Bootstrap-5 with Mvc Architecture</li>
</ul>